body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightsalmon;
}

h1, h2, h3, h4, h5, h6, .centered {
    text-align: center;
    color: maroon;
}

.read {
    border-color: brown;
    border-width: 30px;
    border-style: outset;
    padding-inline: 15px;
    color: brown;
    background-color: pink;

}

img {
    max-height: 300px;
    max-width: auto;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.read {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 1000px;
}

ul {
    list-style: square inside;
}
